

<!--Pestañas-->
<ul class="nav nav-tabs responsive-tabs mb-2" role="tablist" >

  <li class="nav-item me-1" role="presentation" *Roles="[0]">
    <a class="nav-link" routerLink="dashboard" routerLinkActive="active" role="tab" ><i class="bi bi-diagram-2-fill me-1"></i>Dashboard</a>
  </li>

  <li class="nav-item me-1" role="presentation" *Roles="[0,1,2,3]">
    <a class="nav-link" routerLink="redes" routerLinkActive="active" role="tab" ><i class="bi bi-diagram-2-fill me-1"></i>Redes</a>
  </li>

  <li class="nav-item me-1" role="presentation"  *Roles="[0]">
    <a class="nav-link" routerLink="colegios" routerLinkActive="active" role="tab"><i class="bi bi-buildings me-1"></i>Colegios</a>
  </li>

  <li class="nav-item me-1" role="presentation"  *Roles="[1,2,3]">
    <a class="nav-link" routerLink="colegio" routerLinkActive="active" role="tab"><i class="bi bi-buildings me-1"></i>Mi Colegio</a>
  </li>

  <li class="nav-item me-1" role="presentation" *Roles="[0]">
    <a class="nav-link" routerLink="administradores" routerLinkActive="active" role="tab"><i class="bi bi-person-workspace me-1"></i>Administradores</a>
  </li>

  <li class="nav-item me-1" role="presentation" *Roles="[0,1]">
    <a class="nav-link" routerLink="responsables" routerLinkActive="active" role="tab"><i class="bi bi-person-vcard-fill me-1"></i>Responsables</a>
  </li>

  <!-- <li class="nav-item me-1" role="presentation" *Roles="[1,2]">
    <a class="nav-link" routerLink="delegados" routerLinkActive="active" role="tab"><i class="bi bi-person-lines-fill me-1"></i>Delegados</a>
  </li>-->

  <li class="nav-item me-1" role="presentation" *Roles="[1,2]">
    <a class="nav-link" routerLink="autorizados" routerLinkActive="active" role="tab"><i class="bi bi-person-fill-check me-1"></i>Autorizados</a>
  </li>

  <li class="nav-item me-1" role="presentation" *Roles="[0]">
    <a class="nav-link" routerLink="registros" routerLinkActive="active" role="tab"><i class="bi bi-list-task me-1"></i>Registros</a>
  </li>

  <li class="nav-item me-1" role="presentation" *Roles="[0]">
    <a class="nav-link" routerLink="configuraciones" routerLinkActive="active" role="tab" ><i class="bi bi-gear-fill me-1"></i> Configuraciones</a>
  </li>


    <li class="nav-item me-1" role="presentation" *Roles="[0]">
      <a class="nav-link" routerLink="tareas" routerLinkActive="active" role="tab">
        <i class="bi-tools me-1"></i>Tareas
      </a>
    </li>

</ul>
<!--Pestañas-->

<!--Contenido-->
<div class="tab-content">

  <!-- Colegios Tab Start -->
  <div class="tab-pane fade active show" role="tabpanel">
    <router-outlet></router-outlet>
  </div>
  <!-- Colegios Tab End -->

</div>
<!--Contenido-->
