<div class="text-center">
  <div class="input-group input-group-sm mb-3">
    <!-- Alta -->
    <button class="btn btn-info btn-sm me-2" type="button" (click)="alta()">
      <i class="bi bi-plus-circle me-2"></i>Alta
    </button>
    <!-- Búsqueda -->
    <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon1"
           [(ngModel)]="busqueda" (ngModelChange)="updateFilter()">
    <span class="input-group-text" id="basic-addon1">
      <i class="bi bi-search text-primary"></i>
    </span>
  </div>
</div>

<ng-container *ngIf="(vendedores$ | async) as vendedores">
  <ng-container *ngIf="(vendedores | filterBy:filter).length>0;else sinDatos">

    <ngx-datatable
    class="bootstrap"
    [rows]="vendedores | filterBy:filter"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10"
    [scrollbarH]="true">



    <!-- Apellido y Nombre -->
    <ngx-datatable-column name="Apellido y Nombre" prop="apellido" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.apellido }}, {{ row.nombre }}

        <span class="badge badge-estado"
              [ngClass]="row.suspendido == 1 ? 'bg-warning' : 'bg-success'">
          {{ row.suspendido == 1 ? 'Suspendido' : 'Activo' }}
        </span>
      </ng-template>
    </ngx-datatable-column>

    <!-- DNI -->
    <ngx-datatable-column name="DNI" prop="dni" [sortable]="true" [width]="130">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.dni }}
      </ng-template>
    </ngx-datatable-column>

    <!-- Teléfono -->
    <ngx-datatable-column name="Teléfono" prop="telefono" [sortable]="true" [width]="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.telefono }}
      </ng-template>
    </ngx-datatable-column>

    <!-- Celular -->
    <ngx-datatable-column name="Celular" prop="celular" [sortable]="true" [width]="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.celular }}
      </ng-template>
    </ngx-datatable-column>

    <!-- Email -->
    <ngx-datatable-column name="Email" prop="email" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.email }}
      </ng-template>
    </ngx-datatable-column>


    <!-- Acciones -->
    <ngx-datatable-column name="Acciones" [sortable]="false" [width]="200">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="text-center">
          <button type="button"
            class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
            ngbTooltip="Suspender"
            container="body"
            placement="bottom"
            (click)="suspenderVendedor(row.id)">
            <i [ngClass]="row.suspendido == 1 ? 'bi bi-unlock-fill' : 'bi bi-lock-fill'"></i>
          </button>

          <div ngbDropdown class="btn-group" container="body">
            <button
              class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
              ngbDropdownToggle>
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-end">
              <button class="dropdown-item" (click)="editarVendedor(row)">Editar</button>
              <button class="dropdown-item" (click)="confirmarEliminar(row)">Eliminar</button>
            </div>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>

    </ngx-datatable>

  </ng-container>
</ng-container>

<ng-template #sinDatos>
  <app-sin-datos></app-sin-datos>
</ng-template>
