<div class="resolver-solicitud">
  <form [formGroup]="resolverForm">

  <div class="form-group mb-3">
    <label for="comentario" class="form-label">Comentario</label>
    <textarea
      formControlName="res_comentario"
      id="comentario"
      class="form-control"
      rows="4"
      placeholder="Ingrese un comentario..."
    ></textarea>
    <app-error-formulario [control]="resolverForm.get('res_comentario')"></app-error-formulario>
  </div>
</form>
  <app-boton-cargando (action)="guardar()" label="Desestimar"></app-boton-cargando>

</div>

