<!-- <footer>
  <div class="footer-content  mt-4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6">
          <p class="mb-0 text-muted text-medium"></p>
        </div>
        <div class="col-sm-6 d-none d-sm-block">
          <ul class="breadcrumb pt-0 pe-0 mb-0 float-end" style="cursor: pointer;">
            <li class="breadcrumb-item mb-0 text-medium text-danger" (click)="reportar()">
              <span class="btn-link text-danger"> <i class="bi bi-exclamation-octagon-fill me-1"></i>Reportar un problema</span>
            </li>
            <li class="breadcrumb-item mb-0 text-medium" (click)="tyc()">
              <span class="btn-link">Terminos y Condiciones</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer> -->
