<div class="col-12 mb-5">

  <div class="card mb-5">
    <div class="card-body">
      <div class="accordion" id="accordionExample">

        <!-- ADMINISTRADORES -->
        <div class="accordion-item" *Roles="[0]">
          <div class="accordion-header" id="headingAdministrador">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#administrador"
              aria-expanded="true"
              aria-controls="administrador"
            >
              ADMINISTRADORES
            </button>
          </div>
          <div
            id="administrador"
            class="accordion-collapse collapse show"
            aria-labelledby="headingAdministrador"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <section class="scroll-section" id="basicItems" style="height: 320px; overflow-y: auto;">
                <!-- Iteración de registros -->
                <ng-container *ngIf="(registros?.administrador || []).length > 0; else sinDatos">
                  <div
                    class="card mb-3 p-3 shadow-sm border-start border-3"
                    *ngFor="let registro of registros?.administrador"
                    [class.border-primary]="registro.accion === 'Alta' || registro.accion === 'Activar' || registro.accion === 'Aceptar'"
                    [class.border-warning]="registro.accion === 'Password'"
                    [class.border-danger]="registro.accion === 'Borrar' || registro.accion === 'Suspender'"
                  >
                    <div class="row">
                      <!-- Información principal -->
                      <div class="col-12 mb-2">
                        <h6 class="mb-0 text-uppercase fw-bold">
                          <i class="bi bi-arrow-right-circle me-2"></i>
                          {{ registro.realizadoPor }}
                        </h6>
                        <small class="text-muted">
                          <i class="bi bi-clock me-2"></i>{{ registro.fechaHora | date: 'dd/MM/yyyy, hh:mm a' }}
                        </small>
                      </div>

                      <!-- Descripción -->
                      <div class="col-12 mb-2">
                        <p class="mb-0">
                          <span class="text-secondary">Realizó la acción: </span>
                          <span class="fw-bold text-info">{{ registro.accion }}</span>
                          sobre
                          <span class="fw-semibold text-primary">{{ registro.entidad }}</span>.
                        </p>
                        <p class="text-muted small">Descripcion: {{ registro.descripcion }}</p>
                      </div>

                      <!-- Detalles adicionales -->
                      <div class="col-12">
                        <div class="d-flex flex-wrap">
                          <div class="me-3">
                            <i class="bi bi-globe me-1"></i>
                            <span class="text-muted me-1">IP:</span>
                            <span>{{ registro.ip }}</span>
                          </div>
                          <div>
                            <i class="bi bi-browser-chrome me-1"></i>
                            <span class="text-muted me-1">Navegador:</span>
                            <span>{{ registro.navegador }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </section>
            </div>
          </div>
        </div>


        <!-- RESPONSABLES -->
        <div class="accordion-item" *Roles="[0,1]">
          <div class="accordion-header" id="headingResponsable">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#responsable"
              aria-expanded="true"
              aria-controls="responsable"
            >
              RESPONSABLES
            </button>
          </div>
          <div
            id="responsable"
            class="accordion-collapse collapse"
            aria-labelledby="headingResponsable"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <section class="scroll-section" id="basicItems" style="height: 320px; overflow-y: auto;">
                <!-- Iteración de registros -->
                <ng-container *ngIf="(registros?.responsable || []).length > 0; else sinDatos">
                  <div
                    class="card mb-3 p-3 shadow-sm border-start border-3"
                    *ngFor="let registro of registros?.responsable"
                    [class.border-primary]="registro.accion === 'Alta' || registro.accion === 'Activar' || registro.accion === 'Aceptar'"
                    [class.border-warning]="registro.accion === 'Password'"
                    [class.border-danger]="registro.accion === 'Borrar' || registro.accion === 'Suspender'"
                  >
                    <div class="row">
                      <!-- Información principal -->
                      <div class="col-12 mb-2">
                        <h6 class="mb-0 text-uppercase fw-bold">
                          <i class="bi bi-arrow-right-circle me-2"></i>
                          {{ registro.realizadoPor }}
                        </h6>
                        <small class="text-muted">
                          <i class="bi bi-clock me-2"></i>{{ registro.fechaHora | date: 'dd/MM/yyyy, hh:mm a' }}
                        </small>
                      </div>

                      <!-- Descripción -->
                      <div class="col-12 mb-2">
                        <p class="mb-0">
                          <span class="text-secondary">Realizó la acción: </span>
                          <span class="fw-bold text-info">{{ registro.accion }}</span>
                          sobre
                          <span class="fw-semibold text-primary">{{ registro.entidad }}</span>.
                        </p>
                        <p class="text-muted small">Descripcion: {{ registro.descripcion }}</p>
                      </div>

                      <!-- Detalles adicionales -->
                      <div class="col-12">
                        <div class="d-flex flex-wrap">
                          <div class="me-3">
                            <i class="bi bi-globe me-1"></i>
                            <span class="text-muted me-1">IP:</span>
                            <span>{{ registro.ip }}</span>
                          </div>
                          <div>
                            <i class="bi bi-browser-chrome me-1"></i>
                            <span class="text-muted me-1">Navegador:</span>
                            <span>{{ registro.navegador }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </section>
            </div>
          </div>
        </div>

        <!-- DELEGADOS-->
        <div class="accordion-item" *Roles="[0,1,2]">
          <div class="accordion-header" id="headingDelegado">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#delegado"
              aria-expanded="true"
              aria-controls="delegado"
            >
              DELEGADOS
            </button>
          </div>
          <div
            id="delegado"
            class="accordion-collapse collapse"
            aria-labelledby="headingDelegado"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <section class="scroll-section" id="basicItems" style="height: 320px; overflow-y: auto;">
                <!-- Iteración de registros -->
                <ng-container *ngIf="(registros?.delegado || []).length > 0; else sinDatos">
                  <div
                    class="card mb-3 p-3 shadow-sm border-start border-3"
                    *ngFor="let registro of registros?.delegado"
                    [class.border-primary]="registro.accion === 'Alta' || registro.accion === 'Activar' || registro.accion === 'Aceptar'"
                    [class.border-warning]="registro.accion === 'Password'"
                    [class.border-danger]="registro.accion === 'Borrar' || registro.accion === 'Suspender'"
                  >
                    <div class="row">
                      <!-- Información principal -->
                      <div class="col-12 mb-2">
                        <h6 class="mb-0 text-uppercase fw-bold">
                          <i class="bi bi-arrow-right-circle me-2"></i>
                          {{ registro.realizadoPor }}
                        </h6>
                        <small class="text-muted">
                          <i class="bi bi-clock me-2"></i>{{ registro.fechaHora | date: 'dd/MM/yyyy, hh:mm a' }}
                        </small>
                      </div>

                      <!-- Descripción -->
                      <div class="col-12 mb-2">
                        <p class="mb-0">
                          <span class="text-secondary">Realizó la acción: </span>
                          <span class="fw-bold text-info">{{ registro.accion }}</span>
                          sobre
                          <span class="fw-semibold text-primary">{{ registro.entidad }}</span>.
                        </p>
                        <p class="text-muted small">Descripcion: {{ registro.descripcion }}</p>
                      </div>

                      <!-- Detalles adicionales -->
                      <div class="col-12">
                        <div class="d-flex flex-wrap">
                          <div class="me-3">
                            <i class="bi bi-globe me-1"></i>
                            <span class="text-muted me-1">IP:</span>
                            <span>{{ registro.ip }}</span>
                          </div>
                          <div>
                            <i class="bi bi-browser-chrome me-1"></i>
                            <span class="text-muted me-1">Navegador:</span>
                            <span>{{ registro.navegador }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </section>
            </div>
          </div>
        </div>

        <!-- AUTORIZADOS-->
        <div class="accordion-item" *Roles="[0,1,2]">
          <div class="accordion-header" id="headingAutorizado">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#autorizado"
              aria-expanded="true"
              aria-controls="autorizado"
            >
              AUTORIZADOS
            </button>
          </div>
          <div
            id="autorizado"
            class="accordion-collapse collapse"
            aria-labelledby="headingAutorizado"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <section class="scroll-section" id="basicItems" style="height: 320px; overflow-y: auto;">
                <!-- Iteración de registros -->
                <ng-container *ngIf="(registros?.autorizado || []).length > 0; else sinDatos">
                  <div
                    class="card mb-3 p-3 shadow-sm border-start border-3"
                    *ngFor="let registro of registros?.autorizado"
                    [class.border-primary]="registro.accion === 'Alta' || registro.accion === 'Activar' || registro.accion === 'Aceptar'"
                    [class.border-warning]="registro.accion === 'Password'"
                    [class.border-danger]="registro.accion === 'Borrar' || registro.accion === 'Suspender'"
                  >
                    <div class="row">
                      <!-- Información principal -->
                      <div class="col-12 mb-2">
                        <h6 class="mb-0 text-uppercase fw-bold">
                          <i class="bi bi-arrow-right-circle me-2"></i>
                          {{ registro.realizadoPor }}
                        </h6>
                        <small class="text-muted">
                          <i class="bi bi-clock me-2"></i>{{ registro.fechaHora | date: 'dd/MM/yyyy, hh:mm a' }}
                        </small>
                      </div>

                      <!-- Descripción -->
                      <div class="col-12 mb-2">
                        <p class="mb-0">
                          <span class="text-secondary">Realizó la acción: </span>
                          <span class="fw-bold text-info">{{ registro.accion }}</span>
                          sobre
                          <span class="fw-semibold text-primary">{{ registro.entidad }}</span>.
                        </p>
                        <p class="text-muted small">Descripcion: {{ registro.descripcion }}</p>
                      </div>

                      <!-- Detalles adicionales -->
                      <div class="col-12">
                        <div class="d-flex flex-wrap">
                          <div class="me-3">
                            <i class="bi bi-globe me-1"></i>
                            <span class="text-muted me-1">IP:</span>
                            <span>{{ registro.ip }}</span>
                          </div>
                          <div>
                            <i class="bi bi-browser-chrome me-1"></i>
                            <span class="text-muted me-1">Navegador:</span>
                            <span>{{ registro.navegador }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #sinDatos>
  <app-sin-datos [mensaje]="''"></app-sin-datos>
</ng-template>
