
<div class="modal-body p-2 m-0">


  <div class="card">

      <img src="/assets/img/background/blue.jpg" class="card-img-top" alt="card image" style="height: 75px;">
      <div class="card-img-overlay d-flex flex-column justify-content-between">
        <div>
          <h1 class="display-4 text-white"><strong>Editar Datos</strong></h1>
        </div>
      </div>

    <div class="card-body">

      <form [formGroup]="formularioEdicion">
        <h5>Vendedor</h5>
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label class="top-label">
              <div class="input-group">
                <span class="input-group-text bg-white"><i class="text-primary bi bi-person-fill"></i></span>
                <input class="form-control form-control-sm" formControlName="nombre" placeholder="Ingrese nombre">
              </div>
              <span class="ms-5 text-primary">Nombre</span>
              <app-error-formulario [control]="formularioEdicion.get('nombre')"></app-error-formulario>
            </label>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="top-label">
              <div class="input-group">
                <span class="input-group-text bg-white"><i class="text-primary bi bi-person-lines-fill"></i></span>
                <input class="form-control form-control-sm" formControlName="apellido" placeholder="Ingrese apellido">
              </div>
              <span class="ms-5 text-primary">Apellido</span>
              <app-error-formulario [control]="formularioEdicion.get('apellido')"></app-error-formulario>
            </label>
          </div>

          <div class="col-12 col-md-6 mb-3">
            <label class="top-label">
              <div class="input-group">
                <span class="input-group-text bg-white"><i class="text-primary bi bi-telephone"></i></span>
                <input class="form-control form-control-sm" formControlName="telefono" placeholder="Ingrese telefono">
              </div>
              <span class="ms-5 text-primary">Telefono</span>
              <app-error-formulario [control]="formularioEdicion.get('telefono')"></app-error-formulario>
            </label>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="top-label">
              <div class="input-group">
                <span class="input-group-text bg-white"><i class="text-primary bi bi-phone"></i></span>
                <input class="form-control form-control-sm" formControlName="celular" placeholder="Ingrese celular">
              </div>
              <span class="ms-5 text-primary">Celular</span>
              <app-error-formulario [control]="formularioEdicion.get('celular')"></app-error-formulario>
            </label>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="top-label">
              <div class="input-group">
                <span class="input-group-text bg-white"><i class="text-primary bi bi-phone"></i></span>
                <input class="form-control form-control-sm" formControlName="email" placeholder="Ingresar Email">
              </div>
              <span class="ms-5 text-primary">Email</span>
              <app-error-formulario [control]="formularioEdicion.get('email')"></app-error-formulario>
            </label>
          </div>
        </div>
      </form>

      <div class="d-flex justify-content-center gap-3 mt-4">
        <app-boton-cargando (action)="submitForm()" label="Guadar"></app-boton-cargando>
        <button type="button" class="btn btn-outline-secondary ms-2" (click)="cerrar()">Cancelar</button>
      </div>
    </div>
  </div>
</div>

