
<div id="nav" class="nav-container d-flex" #navElement >
  <div class="nav-content d-flex" >
    <!-- Logo Start -->
    <div class="logo position-relative">
      <a [routerLink]=''>
        <!-- Logo can be added directly -->
        <!-- <img src="img/logo/logo-white.svg" alt="logo" /> -->

        <!-- Or added via css to provide different ones for different color themes -->
        <div class="img"></div>
      </a>
    </div>
    <!-- Logo End -->



    <!-- User Menu Start -->
    <div class="user-container d-flex" *ngIf="user$ | async as user">
      <a href="#" class="d-flex user position-relative" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="profile" alt="profile" [src]="apiFile+user.foto" />
        <div class="name">{{user.apellido}},{{user.nombre}}</div>
      </a>
      <div class="dropdown-menu dropdown-menu-end user-menu wide">
        <div class="row mb-1 ms-0 me-0">
          MENU
          <div class="col-12 p-1 mb-3 pt-3">
            <div class="separator-light"></div>
          </div>
          <div class="col-12 ps-1 pe-1">
            <ul class="list-unstyled">
              <li>
                <a (click)="editar()">
                  <i class="bi bi-gear me-2"></i>
                  <span class="align-middle">Editar</span>
                </a>
              </li>
              <li>
                <a (click)="cambiarPass(user)">
                  <i class="bi bi-key-fill me-2"></i>
                  <span class="align-middle">Contraseña</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-acorn-icon="file-text" class="me-2" data-acorn-size="17"></i>
                  <span class="align-middle">Ayuda</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-12 pe-1 ps-1">
            <ul class="list-unstyled ">
              <li>
                <a (click)="logout()" class="text-danger">
                  <i data-acorn-icon="logout" class="me-2" data-acorn-size="17"></i>
                  <span class="align-middle">Cerrar Sesión</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- User Menu End -->

    <!-- Icons Menu Start -->

      <ul class="list-unstyled list-inline text-center menu-icons">
        <li class="list-inline-item">
          <a href="#" data-bs-toggle="modal" data-bs-target="#searchPagesModal">
            <i data-acorn-icon="search" data-acorn-size="18"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" id="pinButton" class="pin-button">
            <i data-acorn-icon="lock-on" class="unpin" data-acorn-size="18"></i>
            <i data-acorn-icon="lock-off" class="pin" data-acorn-size="18"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" id="colorButton">
            <i data-acorn-icon="light-on" class="light" data-acorn-size="18"></i>
            <i data-acorn-icon="light-off" class="dark" data-acorn-size="18"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" data-bs-toggle="dropdown" data-bs-target="#notifications" aria-haspopup="true" aria-expanded="false" class="notification-button" >
            <div class="position-relative d-inline-flex">
              <i data-acorn-icon="bell" data-acorn-size="18"></i>

              <!-- Badge más pequeño -->
              <ng-container *ngIf="notificaciones$ | async as notificaciones">
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 10px; padding: 3px 6px; min-width: 16px;" *ngIf="notificaciones.total > 0" >
                    {{notificaciones.total}}
                  </span>
              </ng-container>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end wide notification-dropdown scroll-out" id="notifications">
            <ng-container *ngIf="notificaciones$ | async as notificaciones">
              <div class="scroll-container"> <!-- Contenedor con scroll -->
                <ng-container *ngIf="notificaciones.total > 0;else sinNotificaciones">
                <!-- 🔵 Mis Solicitudes -->
                <div *ngIf="notificaciones.misSolicitudes.length > 0" class="mb-2">
                  <h6 class="text-primary fw-bold border-bottom pb-2 small">📌 Mis Solicitudes</h6>
                  <ul class="list-unstyled border-last-none">
                    <li *ngFor="let miSolicitud of notificaciones.misSolicitudes"
                        class="mb-2 pb-2 border-bottom border-separator-light d-flex align-items-center">

                      <!-- 📷 Imagen -->
                      <img [src]="apiFile + miSolicitud.foto" class="me-2 sw-3 sh-3 rounded-xl" alt="..." />

                      <!-- 📝 Información -->
                      <div>
                        <a (click)="verMiSolicitud(miSolicitud)" class="text-dark small" *ngIf="!miSolicitud.vencida && !miSolicitud.porVencer">
                          <strong>{{ miSolicitud.colegio }}</strong> <span class="text-success"> ha resuelto tu solicitud.</span>
                          <br />
                          <span class="text-muted d-block mt-1">{{ miSolicitud.fecha | date:'dd/MM/yyyy HH:mm' }}</span>
                        </a>
                        <a (click)="verMiSolicitud(miSolicitud)" class="text-dark small" *ngIf="miSolicitud.vencida">
                          <strong>Solicitud a {{ miSolicitud.colegio }}</strong> <span class="text-danger"> se ha vencido.</span>
                          <br />
                          <span class="text-muted d-block mt-1">{{ miSolicitud.fecha | date:'dd/MM/yyyy HH:mm' }}</span>
                        </a>
                        <a (click)="verMiSolicitud(miSolicitud)" class="text-dark small" *ngIf="miSolicitud.porVencer && !miSolicitud.vencida">
                          <strong>Solicitud a {{ miSolicitud.colegio }}</strong> <span class="text-warning"> esta por vencer.</span>
                          <br />
                          <span class="text-muted d-block mt-1">{{ miSolicitud.fecha | date:'dd/MM/yyyy HH:mm' }}</span>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>

                <!-- 🔴 Solicitudes Recibidas -->
                <div *ngIf="notificaciones.solicitudes.length > 0" class="mb-2">
                  <h6 class="text-danger fw-bold border-bottom pb-2 small">📌 Solicitudes Recibidas</h6>
                  <ul class="list-unstyled border-last-none">
                    <li *ngFor="let solicitud of notificaciones.solicitudes"
                        class="mb-2 pb-2 border-bottom border-separator-light d-flex align-items-center">

                      <!-- 📷 Imagen -->
                      <img [src]="apiFile + solicitud.foto" class="me-2 sw-3 sh-3 rounded-xl" alt="..." />

                      <!-- 📝 Información -->
                      <div>
                        <a (click)="verSolicitud(solicitud)"  class="text-dark small" *ngIf="!solicitud.vencida && !solicitud.porVencer">
                          <strong>{{ solicitud.colegio }}</strong>
                          <span [ngClass]="{'text-success': !solicitud.desestimado, 'text-info': solicitud.desestimado}">
                            {{ solicitud.desestimado ? ' ha desestimado una solicitud' : ' te ha solicitado una beca' }}
                          </span>
                          <br />
                          <span class="text-muted d-block mt-1">
                            {{ solicitud.fecha| date:'dd/MM/yyyy HH:mm' }}
                          </span>
                        </a>

                        <a (click)="verSolicitud(solicitud)"  class="text-dark small" *ngIf="solicitud.vencida">
                          <strong>Solicitud de {{ solicitud.colegio }}</strong>
                          <span class="text-danger"> se ha vencido.</span>
                          <br />
                          <span class="text-muted d-block mt-1">
                            {{ solicitud.fecha | date:'dd/MM/yyyy HH:mm' }}
                          </span>
                        </a>

                        <a (click)="verSolicitud(solicitud)"  class="text-dark small" *ngIf="solicitud.porVencer && !solicitud.vencida">
                          <strong>Solicitud de {{ solicitud.colegio }}</strong>
                          <span class="text-warning"> esta por vencer.</span>
                          <br />
                          <span class="text-muted d-block mt-1">
                            {{ solicitud.fecha | date:'dd/MM/yyyy HH:mm' }}
                          </span>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
                </ng-container>

                <ng-template #sinNotificaciones>
                  <div>
                    <h6 class="text-primary fw-bold small pb-0 mb-0">Sin Notificaciones</h6>
                  </div>
                </ng-template>
              </div>
            </ng-container>
          </div>

        </li>
      </ul>

    <!-- Icons Menu End -->

    <!-- Menu Start -->
    <div class="menu-container flex-grow-1">
      <ul id="menu" class="menu" >
        <li>
          <a >

          </a>
        </li>
        <!-- <ng-container *ngIf="user.id_rol == 0">
          <li>
            <a >
              <i class="bi bi-buildings fs-5 me-1"></i>
              <span class="label">Colegios</span>
            </a>
            <ul id="Colegios">
              <li>
                <a data-href="admin/colegios">
                  <i class="bi bi-list-nested me-2"></i><span class="label" >Listado</span>
                </a>
              </li>
              <li>
                <a data-href="admin/alta-colegio">
                  <i class="bi bi-plus-circle me-2"></i><span class="label">Alta</span>
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a >
              <i class="bi bi-person-check fs-5 me-1"></i>
              <span class="label">Responsables</span>
            </a>
            <ul id="Responsables">
              <li>
                <a data-href="admin/responsables">
                  <i class="bi bi-list-nested me-2"></i><span class="label">Listado</span>
                </a>
              </li>
              <li>
                <a data-href="admin/alta-responsable">
                  <i class="bi bi-plus-circle me-2"></i><span class="label">Alta</span>
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a >
              <i class="bi bi-person-fill-exclamation fs-5 me-1"></i>
              <span class="label">Administradores</span>
            </a>
            <ul id="Administradores">
              <li>
                <a data-href="admin/administradores">
                  <i class="bi bi-list-nested me-2"></i><span class="label">Listado</span>
                </a>
              </li>
              <li>
                <a data-href="admin/alta-administrador">
                  <i class="bi bi-plus-circle me-2"></i><span class="label">Alta</span>
                </a>
              </li>
            </ul>
          </li>
        </ng-container>

        <ng-container *ngIf="user.id_rol == 1">
          <li>
            <a >
              <i class="bi bi-buildings fs-5 me-1"></i>
              <span class="label">Delegados</span>
            </a>
            <ul id="Colegios">
              <li>
                <a data-href="colegio/delegados">
                  <i class="bi bi-list-nested me-2"></i><span class="label" >Listado</span>
                </a>
              </li>
              <li>
                <a data-href="colegio/alta-delegado">
                  <i class="bi bi-plus-circle me-2"></i><span class="label">Alta</span>
                </a>
              </li>
            </ul>
          </li>
        </ng-container> -->

      </ul>
    </div>

    <!-- Menu End -->

    <!-- Mobile Buttons Start -->
    <div class="mobile-buttons-container">
      <!-- Scrollspy Mobile Button Start -->
      <a href="#" id="scrollSpyButton" class="spy-button" data-bs-toggle="dropdown">
        <i data-acorn-icon="menu-dropdown"></i>
      </a>
      <!-- Scrollspy Mobile Button End -->

      <!-- Scrollspy Mobile Dropdown Start -->
      <div class="dropdown-menu dropdown-menu-end" id="scrollSpyDropdown"></div>
      <!-- Scrollspy Mobile Dropdown End -->

      <!-- Menu Button Start -->
      <a href="#" id="mobileMenuButton" class="menu-button">
        <i data-acorn-icon="menu"></i>
      </a>
      <!-- Menu Button End -->
    </div>
    <!-- Mobile Buttons End -->
  </div>
  <div class="nav-shadow"></div>
</div>


