<div class="row">
  <!-- Page Content Start -->
  <div class="col">
      <!-- Contenedor del buscador -->

        <!--Search input-->
        <div class="text-center">
          <div class="input-group input-group-sm mb-3">
            <!-- Alta -->
            <button class="btn btn-info btn-sm me-2" type="button" (click)="alta()"><i class="bi bi-plus-circle me-2"></i>Alta</button>
            <!-- Alta -->
            <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon1" [(ngModel)]="busqueda" (ngModelChange)="updateFilter()">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-search text-primary"></i></span>
          </div>

        </div>




    <!--Colegios TABLA-->
    <ng-container *ngIf="(colegios$ | async) as colegios">
      <ng-container *ngIf="(colegios | filterBy:filter).length>0;else sinDatos">

        <ngx-datatable
          class="bootstrap"
          [rows]="colegios | filterBy:filter"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [limit]="10"
          [scrollbarH]="true">

          <ngx-datatable-column name="Estado" prop="suspendido" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="nombre-con-fondo" [ngStyle]="{'background-image': 'url(' + apiFile + row.foto + ')'}">
                <span class="nombre-texto">{{ row.nombre }}</span>

                <!-- Badge Estado -->
                <span class="badge badge-estado"
                      [ngClass]="{
                        'bg-danger': row.suspendido,
                        'bg-success': !row.suspendido
                      }">
                  {{ row.suspendido ? 'Suspendido' : 'Activo' }}
                </span>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <!-- Dirección -->
          <ngx-datatable-column name="Dirección" prop="direccion_calle" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.direccion_calle }} {{ row.direccion_numero }} - {{ row.localidad }}
            </ng-template>
          </ngx-datatable-column>

          <!-- Zona  -->
          <ngx-datatable-column name="Zona" prop="id_zona_zona_localidad" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.id_zona_zona_localidad?.nombre}}, {{ row.id_zona_zona_localidad?.id_zona_zona?.nombre}}
            </ng-template>
          </ngx-datatable-column>

          <!-- Pago-->
          <ngx-datatable-column name="Forma Pago" prop="id_forma_pago_forma_pago" [sortable]="true" *Roles="[0]">
            <ng-template let-row="row" ngx-datatable-cell-template>
             {{ row.id_forma_pago_forma_pago.nombre}}
            </ng-template>
          </ngx-datatable-column>

          <!-- Plan-->
          <ngx-datatable-column name="Plan" prop="id_plan_plan" [sortable]="true" *Roles="[0]">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.id_plan_plan.nombre}}
            </ng-template>
          </ngx-datatable-column>

          <!-- Acciones -->
          <ngx-datatable-column name="Acciones" [sortable]="false" [width]="260">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="text-center">

                <button
                  class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
                  ngbTooltip="Ver Colegio"
                  container="body"
                  placement="bottom"
                  (click)="detalleColegio(row.id)">
                  <i class="bi bi-eye-fill"></i>
                </button>

                <button
                  class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
                  ngbTooltip="Agregar Responsable"
                  container="body"
                  placement="bottom"
                  (click)="agregarResponsable(row.id)">
                  <i class="bi bi-person-fill-add"></i>
                </button>

                <button
                  class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
                  [ngbTooltip]="row.suspendido?'Activar Colegio':'Suspender Colegio'"
                  container="body"
                  placement="bottom"
                  (click)="suspenderColegio(row.id)">
                  <i [ngClass]="row.suspendido ? 'bi bi-unlock-fill' : 'bi bi-lock-fill'"></i>
                </button>

                <div ngbDropdown class="btn-group" container="body">
                  <button
                    class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
                    ngbDropdownToggle>
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <div
                    ngbDropdownMenu
                    aria-labelledby="dropdownMenu"
                    class="dropdown-menu-end">
                    <button class="dropdown-item" (click)="editarColegio(row)">Editar</button>
                    <button class="dropdown-item" (click)="confirmarEliminar(row)">Eliminar</button>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

      </ng-container>
    </ng-container>


  </div>


</div>

<ng-template #sinDatos>
  <app-sin-datos></app-sin-datos>
</ng-template>

