<div class="row">
  <!-- Page Content Start -->
  <div class="col">
      <!-- Contenedor del buscador -->

        <!--Search input-->
        <div class="text-center">
          <div class="input-group input-group-sm mb-3">
            <!-- Alta -->
            <button class="btn btn-info btn-sm me-2" type="button" (click)="alta()"><i class="bi bi-plus-circle me-2"></i>Alta</button>
            <!-- Alta -->
            <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon1" [(ngModel)]="busqueda" (ngModelChange)="updateFilter()">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-search text-primary"></i></span>
          </div>

        </div>




    <!--Colegios TABLA-->
    <ng-container *ngIf="(colegios$ | async) as colegios">
      <table class="table table-hover table-bordered table-striped" *ngIf="(colegios | filterBy: filter).length > 0; else sinDatos">
        <thead class="table-primary">
          <tr>
            <th>Estado</th>
            <th>Logo</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let colegio of colegios || [] | filterBy:filter">
            <td class="align-middle text-center">
              <span class="badge"
                    [ngClass]="{
                      'bg-danger': colegio.suspendido,
                      'bg-success': !colegio.suspendido
                    }">
                {{ colegio.suspendido ? 'Suspendido' : 'Activo' }}
              </span>
            </td>
            <td class="text-center align-middle">
              <img *ngIf="colegio.foto" [src]="apiFile + colegio.foto" alt="Logo" style="height: 50px; object-fit: contain;" />
            </td>
            <td class="align-middle">{{ colegio.nombre }}</td>
            <td class="align-middle">
              {{ colegio.direccion_calle }} {{ colegio.direccion_numero }} - {{ colegio.localidad }}
            </td>
            <td class="text-center align-middle">

              <button
                class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
                ngbTooltip="Agregar Responsable"
                container="body"
                placement="bottom"
                (click)="agregarResponsable(colegio.id)">
                <i class="bi bi-person-fill-add"></i>
              </button>

              <button
                class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
                ngbTooltip="Suspender Colegio"
                container="body"
                placement="bottom"
                (click)="suspenderColegio(colegio.id)">
                <i [ngClass]="colegio.suspendido ? 'bi bi-unlock-fill' : 'bi bi-lock-fill'"></i>
              </button>


              <div ngbDropdown class="btn-group" container="body">
                <button
                  class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
                  ngbDropdownToggle>
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <div
                  ngbDropdownMenu
                  aria-labelledby="dropdownMenu"
                  class="dropdown-menu-end">
                  <button class="dropdown-item" (click)="detalleColegio(colegio.id)">Ver</button>
                  <button class="dropdown-item" (click)="editarColegio(colegio)">Editar</button>
                  <button class="dropdown-item" (click)="confirmarEliminar(colegio)">Eliminar</button>
                </div>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>


  </div>


</div>

<ng-template #sinDatos>
  <app-sin-datos></app-sin-datos>
</ng-template>

