
<div class="modal-body p-2 m-0">
<div class="card">

  <img src="/assets/img/background/blue.jpg" class="card-img-top" alt="card image" style="height: 75px;">
  <div class="card-img-overlay d-flex flex-column justify-content-between">
    <div>
      <h1 class="display-4 text-white"><strong>Cambiar Contraseña</strong></h1>
    </div>
  </div>

  <div class="card-body">

    <div class=" text-center alert alert-warning">
      <p class="mb-2 text-black font-weight-bold">{{usuario?.nombre}}, {{usuario?.apellido}}</p>
      <div class=" p-2 d-flex align-items-center justify-content-center" style="border-radius: 10px;" *ngIf="alerta;else sinAlerta">
        <div>
          <p class="mb-0">Por seguridad, debes actualizar tu contraseña.</p>
          <p class="text-muted small">Este cambio es necesario para continuar.</p>
        </div>
      </div>

      <ng-template #sinAlerta>
        <div class=" p-2 d-flex align-items-center justify-content-center" style="border-radius: 10px;">
          <div>
            <p class="mb-0">Por seguridad, al actualizar tu contraseña, se cerrara la sesión.</p>
          </div>
        </div>
      </ng-template>
    </div>
    <form [formGroup]="formulario">
      <div class="mb-3 filled form-group tooltip-end-top">
          <i data-acorn-icon="lock-off"></i>
          <input [type]="mostrarPassword ? 'text' : 'password'" class="form-control pe-7" name="password" placeholder="Contraseña" formControlName="password"/>
          <a class="text-small position-absolute t-3 e-3" (click)="cambiarVisibilidad()" style="cursor: pointer;">Revelar</a>
          <app-error-formulario [control]="formulario.get('password')"></app-error-formulario>
      </div>

      <div class="mb-3 filled form-group tooltip-end-top">
        <i data-acorn-icon="lock-off"></i>
          <input [type]="mostrarPassword ? 'text' : 'password'" class="form-control pe-7" name="confirmPassword" placeholder="Confirmar Contraseña" formControlName="confirmPassword"/>
          <a class="text-small position-absolute t-3 e-3" (click)="cambiarVisibilidad()" style="cursor: pointer;">Revelar</a>
          <div *ngIf="formulario.errors?.['passwordMismatch'] && formulario.get('confirmPassword')?.touched">
            <small class="text-danger ms-2">Las contraseñas no coinciden.</small>
          </div>
      </div>

      <div class="d-flex justify-content-center gap-3 mt-4">
      <button type="button" class="btn btn-primary me-2" (click)="aceptar()" [disabled]="!formulario.valid">Aceptar</button>
      <button type="button" class="btn btn-outline-secondary" (click)="cancelar()">Cancelar</button>
    </div>
    </form>


  </div>
</div>
</div>




