<div class="text-center">
  <div class="input-group input-group-sm mb-3">
    <input type="text" name="busqueda" [(ngModel)]="busqueda" (ngModelChange)="updateFilter()" placeholder="Buscar Registro..." class="form-control form-control-sm">
    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search text-primary"></i></span>
  </div>
</div>

<ng-container *ngIf="registros$ | async as registro">
  <app-registro-colegio [registros]="registro" *ngIf="!registroAdmin"></app-registro-colegio>

  <section class="scroll-section" id="basicItems" style="height: 100vh; overflow-y: auto;" *ngIf="registroAdmin">
    <!-- Iteración de registros -->
    <ng-container *ngIf="(registro?.administrador || [] | filterBy: filter).length > 0; else sinDatos">
      <div
        class="card mb-3 p-3 shadow-sm border-start border-3"
        *ngFor="let registro of registro?.administrador || [] | filterBy: filter"
        [class.border-primary]="registro.accion === 'Alta' || registro.accion === 'Activar' || registro.accion === 'Aceptar'"
        [class.border-warning]="registro.accion === 'Password'"
        [class.border-danger]="registro.accion === 'Borrar' || registro.accion === 'Suspender'"
      >
        <div class="row">
          <!-- Información principal -->
          <div class="col-12 mb-2">
            <h6 class="mb-0 text-uppercase fw-bold">
              <i class="bi bi-arrow-right-circle me-2"></i>
              {{ registro.realizadoPor }} :
              {{registro.administrador?.apellido}}, {{registro.administrador?.nombre}}
              {{registro.usuario?.apellido}}, {{registro.usuario?.nombre}}
            </h6>
            <small class="text-muted">
              <i class="bi bi-clock me-2"></i>{{ registro.fechaHora| date: 'dd/MM/yyyy, hh:mm a' }}
            </small>
          </div>

          <!-- Descripción -->
          <div class="col-12 mb-2">
            <p class="mb-0">
              <span class="text-secondary">Realizó la acción: </span>
              <span class="fw-bold text-info">{{ registro.accion }}</span>
            </p>
            <p class="text-muted small">Descripcion: {{ registro.descripcion }}</p>
          </div>

          <!-- Detalles adicionales -->
          <div class="col-12">
            <div class="d-flex flex-wrap">
              <div class="me-3">
                <i class="bi bi-globe me-1"></i>
                <span class="text-muted me-1">IP:</span>
                <span>{{ registro.ip }}</span>
              </div>
              <div>
                <i class="bi bi-browser-chrome me-1"></i>
                <span class="text-muted me-1">Navegador:</span>
                <span>{{ registro.navegador }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </section>
</ng-container>


<ng-template #sinDatos>
  <app-sin-datos [mensaje]="''"></app-sin-datos>
</ng-template>
