
<h2 class="small-title"></h2>

<div class="card h-100-card">
  <img src="/assets/img/background/blue.jpg" class="card-img-top" alt="card image" style="height: 75px;">
  <div class="card-img-overlay d-flex flex-column justify-content-between">
    <div>
      <h1 class="display-4 text-white"><strong>Nueva Red</strong></h1>
    </div>
  </div>

    <div class="card wizard h-100">
      <div class="card-header border-0 pb-0">
        <ul class="nav nav-tabs justify-content-center">
          <li *ngFor="let step of steps; let i = index"
              class="nav-item" (click)="currentStep = i" [class.active]="currentStep === i"> <!-- (click)="currentStep = i"  -->
            <a class="nav-link text-center" [class.active]="currentStep === i">
              <div class="mb-1 title d-none d-sm-block">{{ step.nombre }}</div>
              <div class="text-small description d-none d-md-block">{{step.descripcion}}</div>
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body h-100">
        <form [formGroup]="wizardForm">
          <!-- Paso 1: Datos principales -->
          <div formGroupName="datosPrincipales" *ngIf="currentStep === 0">
            <h5 class="pb-2">Datos Principales</h5>

            <div class="row">
              <!-- Campo Nombre -->
              <div class="col-12 col-md-9  mb-3">
                <label class="top-label">
                  <div class="input-group">
                    <span class="input-group-text bg-white"><i class="text-primary bi bi-diagram-3-fill"></i></span>
                    <input class="form-control form-control-sm" formControlName="nombre" placeholder="Ingrese nombre"
                    [ngClass]="{ 'is-invalid': wizardForm.get('datosPrincipales.nombre')?.invalid && wizardForm.get('datosPrincipales.nombre')?.touched }">
                  </div>
                  <span class="ms-5 text-primary">Nombre</span>
                  <app-error-formulario [control]="wizardForm.get('datosPrincipales.nombre')"></app-error-formulario>
                </label>
              </div>

              <!-- Campo Porcentaje -->
              <div class="col-12 col-md-3 mb-3">
                <label class="top-label">
                  <div class="input-group">
                    <span class="input-group-text bg-white"><i class="text-primary bi bi-percent"></i></span>
                    <input type="number" class="form-control form-control-sm" formControlName="porcentaje"
                    [ngClass]="{ 'is-invalid': wizardForm.get('datosPrincipales.porcentaje')?.invalid && wizardForm.get('datosPrincipales.porcentaje')?.touched }">
                  </div>
                  <span class="ms-5 text-primary">Porcentaje</span>
                  <app-error-formulario [control]="wizardForm.get('datosPrincipales.porcentaje')"></app-error-formulario>
                </label>
              </div>

              <!-- Campo Foto -->
              <div class="col-12 mb-3">
                <div class="input-group">
                  <span class="input-group-text bg-white"><i class="text-primary bi bi-image"></i></span>
                  <input
                    type="file"
                    (change)="seleccionFoto($event)"
                    accept="image/*"
                  />
                </div>
                <app-error-formulario [control]="wizardForm.get('datosPrincipales.foto')"></app-error-formulario>
              </div>

              <!-- Campo Características -->
              <div class="col-12 mb-3">
                <label class="top-label">
                  <div class="input-group">
                    <span class="input-group-text bg-white"><i class="bi bi-pencil-fill text-primary"></i></span>
                    <textarea class="form-control form-control-sm" formControlName="caracteristicas" placeholder="Ingrese descripcion"
                    [ngClass]="{ 'is-invalid': wizardForm.get('datosPrincipales.caracteristicas')?.invalid && wizardForm.get('datosPrincipales.caracteristicas')?.touched }"></textarea>
                  </div>
                  <span class="ms-5 text-primary">Características</span>
                  <app-error-formulario [control]="wizardForm.get('datosPrincipales.caracteristicas')"></app-error-formulario>
                </label>
              </div>
            </div>
          </div>

          <!-- Paso 2: Integrantes -->
          <div formArrayName="integrantes" *ngIf="currentStep === 1">
            <h5 class="pb-2">Anfitrión y Miembros</h5>

            <!-- Selector de Integrantes -->
            <div class="col-12 mb-3">
              <label class="top-label">
                <div class="input-group">
                  <span class="input-group-text bg-white"><i class="text-primary bi bi-box"></i></span>
                  <ng-select
                    class="form-control form-control-sm"
                    [items]="colegios$ | async"
                    bindLabel="nombre"
                    bindValue="id"
                    [multiple]="true"
                    [closeOnSelect]="false"
                    placeholder="Seleccione uno o más integrantes"
                    (change)="onIntegrantesChange($event)"
                  >
                  </ng-select>
                </div>
                <span class="ms-5 text-primary">Miembros</span>
                <app-error-formulario [control]="wizardForm.get('integrantes')"></app-error-formulario>
              </label>
            </div>

            <!-- Contenedor de Miembros -->
            <div class="row pt-4">
              <h4 class="text-primary">Miembros</h4>
              <ng-container *ngIf="colegiosSeleccionados.length > 0; else sinDatos">
                <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let colegio of colegiosSeleccionados; let i = index">
                  <div class="card h-100">
                    <span class="badge badge-sm position-absolute e-0 t-n2 z-index-1"
                          [ngClass]="{
                            'bg-warning': i==0,
                            'bg-info': i!=0
                          }">
                          <i class="pe-1" [ngClass]="{
                            'bi bi-star-fill': i==0,
                            'bi bi-bookmark-star-fill': i!=0
                          }">
                          </i>{{i==0?'Anfitrión':'Miembro'}}
                    </span>
                    <div class="card-body border-last-none h-100 p-0 ps-2 pt-2 pb-2">
                      <div class="border-bottom border-separator-light">
                        <div class="row g-0 sh-6">
                          <div class="col-auto">
                            <img *ngIf="colegio.logo" [src]="'data:image/png;base64,' + colegio.logo" class="card-img rounded-xl sh-6 sw-6" alt="thumb" />
                          </div>
                          <div class="col">
                            <div class="card-body d-flex flex-row pt-0 pb-0 ps-3 pe-0 h-100 align-items-center justify-content-between">
                              <div class="d-flex flex-column">
                                <div>{{ colegio.nombre }}</div>
                                <div class="text-small text-muted">{{ colegio.cuit }}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>


        </form>

      </div>
      <div class="card-footer text-center border-0 pt-1">
        <button (click)="goToPreviousStep()" [disabled]="currentStep === 0" class="btn btn-outline-primary me-2">Volver</button>
        <button *ngIf="currentStep < 1" (click)="goToNextStep()" class="btn btn-outline-primary">Siguiente</button>
        <app-boton-cargando *ngIf="currentStep === 1" (click)="submitForm()" label="Enviar"></app-boton-cargando>
      </div>
    </div>

</div>

<ng-template #sinDatos>
  <app-sin-datos></app-sin-datos>
</ng-template>


