<app-header></app-header>
<main>
  <div class ="container">

    <!-- Title and Top Buttons Start -->
    <app-breadcrumb></app-breadcrumb>
    <!-- Title and Top Buttons End -->

    <div class="row gx-4 gy-5">
      <!-- Columna Izquierda -->
      <div class="col-12 col-xl-4 col-xxl-3">
        <app-mi-colegio-columna></app-mi-colegio-columna>
      </div>
      <!-- Columna Izquierda End -->


    <!-- Columna Derecha -->
    <div class="col-12 col-xl-8 col-xxl-9">
      <div class="card w-100 sh-25 sh-sm-19">
        <img src="http://localhost:3002/uploads/redes/default.png" class="card-img h-100 img-transparent" alt="card image" />
        <div class="card-img-overlay d-flex p-4 pt-4 flex-column justify-content-between bg-transparent">
          <div class="row  mb-3">
            <div class="col-8 ms-2">
              <div class="cta-1 text-primary fw-bold">Red Idra 2</div>
              <div class="cta-2 text-black fw-lighter">Descripcion de la Red</div>
              <div class="cta-4 text-primary">Anfitrion:</div>
            </div>
          </div>
          <!--Carga de Paginas-->
          <router-outlet></router-outlet>
          <!--Carga de Paginas-->
        </div>
      </div>
    </div>
    <!-- Columna Derecha -->
    </div>
</div>
</main>
