<div class="card" *ngIf="miRed$ | async as miRed">
  <div class="card-body mb-n5">
    <div class="d-flex align-items-center flex-column mb-1" *ngIf="(user$ | async)?.id_colegio_colegio as colegio">
      <div class="mb-2 d-flex align-items-center flex-column">
        <div class="sw-13 position-relative mb-3">
          <img [src]="apiFile+colegio.foto" class="img-fluid rounded-xl" alt="thumb" />
        </div>
        <div class="h5 mb-0">{{colegio.nombre}}</div>
        <div class="text-muted">Cuit: {{colegio.cuit | formatDniCuit:'cuit'}}</div>
        <span class="badge badge-sm bg-warning mt-2"
              [ngClass]="{
                'bg-warning': miRed.misDatos.anfitrion,
                'bg-info': !miRed.misDatos.anfitrion
              }">
              <i class="pe-1" [ngClass]="{
                'bi bi-star-fill': miRed.misDatos.anfitrion,
                'bi bi-bookmark-star-fill': !miRed.misDatos.anfitrion
              }">
              </i>{{miRed.misDatos.anfitrion?'Patrocinador':'Miembro'}}
        </span>
      </div>

    </div>




    <hr class="text-muted">

      <div class="row g-0 align-items-center mb-2 sh-6">
        <div class="col-auto">
          <div class="bg-primary sh-5 sw-5 rounded-xl d-flex justify-content-center align-items-center">
            <span class="text-white">{{miRed.misDatos.bp}}</span>
          </div>
        </div>
        <div class="col ps-3">
          <div class="row g-0">
            <div class="col">
              <div class="sh-3 d-flex align-items-center lh-1-25 text-muted">Publicadas</div>
            </div>
            <div class="col-auto">
              <div class="cta-3 text-primary sh-3 d-flex align-items-center"></div>
            </div>
          </div>
          <div class="row g-0">
            <div class="col sh-1">
              <div class="progress progress-xs">
                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" [style]="'width:'+miRed.estadisticas.bp+'%'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0 align-items-center mb-2 sh-6">
        <div class="col-auto">
          <div class="bg-info sh-5 sw-5 rounded-xl d-flex justify-content-center align-items-center">
            <span class="text-white">{{miRed.misDatos.db}}</span>
          </div>
        </div>
        <div class="col ps-3">
          <div class="row g-0">
            <div class="col">
              <div class="sh-3 d-flex align-items-center lh-1-25 text-muted">Derecho</div>
            </div>
            <div class="col-auto">
              <div class="cta-3 text-info sh-3 d-flex align-items-center"></div>
            </div>
          </div>
          <div class="row g-0">
            <div class="col sh-1">
              <div class="progress progress-xs">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" [style]="'width:'+miRed.estadisticas.db+'%'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0 align-items-center mb-2 sh-6">
        <div class="col-auto">
          <div class="bg-secondary sh-5 sw-5 rounded-xl d-flex justify-content-center align-items-center">
            <span class="text-white">{{miRed.misDatos.dbu}}</span>
          </div>
        </div>
        <div class="col ps-3">
          <div class="row g-0">
            <div class="col">
              <div class="sh-3 d-flex align-items-center lh-1-25 text-muted">Utilizadas</div>
            </div>
            <div class="col-auto">
              <div class="cta-3 text-secondary sh-3 d-flex align-items-center"></div>
            </div>
          </div>
          <div class="row g-0">
            <div class="col sh-1">
              <div class="progress progress-xs">
                <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" [style]="'width:'+miRed.estadisticas.dbu+'%'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0 align-items-center mb-2 sh-6">
        <div class="col-auto">
          <div class="bg-tertiary sh-5 sw-5 rounded-xl d-flex justify-content-center align-items-center">
            <span class="text-white">{{miRed.misDatos.dbd}}</span>
          </div>
        </div>
        <div class="col ps-3">
          <div class="row g-0">
            <div class="col">
              <div class="sh-3 d-flex align-items-center lh-1-25 text-muted">Disponibles</div>
            </div>
            <div class="col-auto">
              <div class="cta-3 text-tertiary sh-3 d-flex align-items-center"></div>
            </div>
          </div>
          <div class="row g-0">
            <div class="col sh-1">
              <div class="progress progress-xs">
                <div class="progress-bar bg-tertiary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style]="'width:'+miRed.estadisticas.dbd+'%'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>






  </div>

  </div>

