<div class="row">
  <!-- Page Content Start -->
  <div class="col">
      <!-- Contenedor del buscador -->

        <!--Search input-->
        <div class="text-center">
          <div class="input-group input-group-sm mb-3">
            <!-- Alta -->
            <button class="btn btn-info btn-sm me-2" type="button" (click)="alta()" *Roles="[0]"><i class="bi bi-plus-circle me-2"></i>Alta</button>
            <!-- Alta -->
            <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon1" [(ngModel)]="busqueda" (ngModelChange)="updateFilter()">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-search text-primary"></i></span>
          </div>

        </div>


    <!--reds Cards-->
    <ng-container *ngIf="(redes$|async) as redes">

      <!--ADMINISTRADORES-->

      <ng-container *Roles="[0]">
        <ng-container *ngIf="(redes.redes | filterBy: filter).length > 0; else sinDatosAdmin">
          <ngx-datatable
            class="bootstrap"
            [rows]="redes.redes | filterBy:filter"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10"
            [scrollbarH]="true">



            <!-- Nombre -->
            <ngx-datatable-column name="Nombre" prop="nombre" [sortable]="true">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="nombre-con-fondo" [ngStyle]="{'background-image': 'url(' + apiUrl + row.foto + ')'}">
                  <span class="nombre-texto">{{ row.nombre }}</span>
                </div>
              </ng-template>
            </ngx-datatable-column>

            <!-- Anfitrión -->
            <ngx-datatable-column name="Patrocinador" prop="Anfitrion.nombre" [sortable]="true">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Anfitrion?.nombre || 'Sin Patrocinador' }}
              </ng-template>
            </ngx-datatable-column>

             <!-- Porcentaje -->
             <ngx-datatable-column name="Porcentaje" prop="porcentaje" [sortable]="true" [width]="120">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.porcentaje }}%
              </ng-template>
            </ngx-datatable-column>

            <!-- Características -->
            <ngx-datatable-column name="Características" prop="caracteristicas" [sortable]="true">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.caracteristicas }}
              </ng-template>
            </ngx-datatable-column>

            <!-- Acciones -->
            <ngx-datatable-column name="Acciones" [sortable]="false" [width]="260">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <button
                    class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
                    ngbTooltip="Ver Red"
                    container="body"
                    placement="bottom"
                    (click)="verRed(row.id)">
                    <i class="bi bi-eye-fill"></i>
                  </button>

                  <button
                    class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
                    ngbTooltip="Editar Miembros"
                    container="body"
                    placement="bottom"
                    (click)="editarMiembros(row)">
                    <i class="bi bi-building-fill-add"></i>
                  </button>

                  <div ngbDropdown class="btn-group" container="body">
                    <button
                      class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
                      ngbDropdownToggle>
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <div
                      ngbDropdownMenu
                      aria-labelledby="dropdownMenu"
                      class="dropdown-menu-end">
                      <button class="dropdown-item" (click)="editar(row)">Editar</button>
                      <button class="dropdown-item" (click)="confirmarEliminar(row)">Eliminar</button>
                    </div>
                  </div>


              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>

        </ng-container>
      </ng-container>

      <!--RESTO USUARIOS-->
      <ng-container *Roles="[1,2,3]">
        <!-- Redes que Patrocino -->
        <h4 class="text-primary mb-3"><i class="bi bi-circle-fill text-success me-2"></i> Redes que Patrocino</h4>
        <div class="card border border-success shadow-sm mb-4">

          <ng-container *ngIf="(redes.misRedes | filterBy: filter).length > 0; else noPatrocinadas">
              <div class="card-body p-2">
                <ngx-datatable
                  class="bootstrap"
                  [rows]="redes.misRedes | filterBy: filter"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [limit]="10"
                  [scrollbarH]="false">

                  <!-- Logo -->


                  <!-- Nombre -->
                  <ngx-datatable-column name="Nombre" prop="nombre" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div class="nombre-con-fondo" [ngStyle]="{'background-image': 'url(' + apiUrl + row.foto + ')'}">
                        <span class="nombre-texto">{{ row.nombre }}</span>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <!-- Porcentaje -->
                  <ngx-datatable-column name="Porcentaje" prop="porcentaje" [sortable]="true" [width]="120">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.porcentaje }}%
                    </ng-template>
                  </ngx-datatable-column>

                  <!-- Características -->
                  <ngx-datatable-column name="Características" prop="caracteristicas" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.caracteristicas }}
                    </ng-template>
                  </ngx-datatable-column>

                  <!-- Acciones -->
                  <ngx-datatable-column name="Acciones" [sortable]="false" [width]="260">
                    <ng-template let-row="row" ngx-datatable-cell-template>

                        <button
                          class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
                          *Roles="[1,2]"
                          ngbTooltip="Editar Red"
                          container="body"
                          placement="top"
                          (click)="editar(row)">
                          <i class="bi bi-pencil-fill"></i>
                        </button>

                        <button
                          class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
                          *Roles="[1]"
                          ngbTooltip="Editar Miembros"
                          container="body"
                          placement="top"
                          (click)="editarMiembros(row)">
                          <i class="bi bi-building-fill-add"></i>
                        </button>

                        <button
                          class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
                          ngbTooltip="Ver Red"
                          container="body"
                          placement="top"
                          (click)="verRed(row.id)">
                          <i class="bi bi-eye-fill"></i>
                        </button>

                    </ng-template>
                  </ngx-datatable-column>

                </ngx-datatable>
              </div>

          </ng-container>

          <!-- Mensaje si no patrocina ninguna red -->
          <ng-template #noPatrocinadas>
            <div class="card-body p-2">
              <div class="text-center text-muted">
                <i class="bi bi-info-circle-fill me-2"></i>
                No estás patrocinando ninguna red actualmente.
              </div>
            </div>
          </ng-template>

        </div>


        <hr>

        <!-- Redes como Miembro -->
        <h4 class="text-primary mb-3"><i class="bi bi-circle-fill text-primary me-2"></i> Redes como Miembro</h4>
        <div class="card border border-primary shadow-sm">

            <ng-container *ngIf="(redes.vinculado | filterBy: filter).length > 0; else sinDatosMiembro">
              <div class="card-body p-2">
                <ngx-datatable
                  class="bootstrap"
                  [rows]="redes.vinculado | filterBy: filter"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [limit]="10"
                  [scrollbarH]="false">

                  <!-- Logo -->


                  <!-- Nombre -->
                  <ngx-datatable-column name="Nombre" prop="nombre" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div class="nombre-con-fondo" [ngStyle]="{'background-image': 'url(' + apiUrl + row.foto + ')'}">
                        <span class="nombre-texto">{{ row.nombre }}</span>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <!-- Anfitrión -->
                  <ngx-datatable-column name="Patrocinador" prop="Anfitrion.nombre" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.Anfitrion?.nombre || 'Sin Patrocinador' }}
                    </ng-template>
                  </ngx-datatable-column>

                  <!-- Porcentaje -->
                  <ngx-datatable-column name="Porcentaje" prop="porcentaje" [sortable]="true" [width]="120">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.porcentaje }}%
                    </ng-template>
                  </ngx-datatable-column>

                  <!-- Características -->
                  <ngx-datatable-column name="Características" prop="caracteristicas" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.caracteristicas }}
                    </ng-template>
                  </ngx-datatable-column>

                  <!-- Acciones -->
                  <ngx-datatable-column name="Acciones" [sortable]="false" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>

                        <button
                          class="btn btn-sm btn-outline-primary"
                          ngbTooltip="Ver Red"
                          container="body"
                          placement="top"
                          (click)="verRed(row.id)">
                          <i class="bi bi-eye-fill"></i>
                        </button>

                    </ng-template>
                  </ngx-datatable-column>

                </ngx-datatable>
              </div>
            </ng-container>

            <!-- Si no hay redes como miembro -->
            <ng-template #sinDatosMiembro>
              <div class="card-body p-2">
                <div class="text-center text-muted">
                  <i class="bi bi-info-circle-fill me-2"></i>
                  No estás vinculado a ninguna red como miembro.
                </div>
              </div>
            </ng-template>


        </div>
      </ng-container>


    </ng-container>
  </div>


</div>

<ng-template #sinDatos>
  <app-sin-datos [mensaje]="''"></app-sin-datos>
</ng-template>

<ng-template #sinDatosAdmin>
  <app-sin-datos></app-sin-datos>
</ng-template>

