.nav-tabs .nav-link.active {
  color: var(--primary) !important;
  background-color: var(--foreground);
}

.nav-tabs .nav-link {
  color: var(--muted);
  background-color: var(--background-light);
  border-color: var(--separator);
}

.nav-tabs .nav-link:hover {
  color: var(--primary);
  background-color: var(--foreground);
}




