<div class="row">
  <!-- Labels Start -->
  <div class="col-12 mb-2">
    <div class="container" *ngIf="detalle$ | async as detalle">
      <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white text-start py-4 pb-2 pt-2">
          <h4 class="mb-0 text-white">
            <i class="bi bi-file-earmark-text-fill me-2"></i> Detalle de Solicitud: <span class="ms-2">{{detalle.id}}</span>
          </h4>
        </div>
        <div class="card-body p-4">

          <div class="row g-4 pb-4">
            <!-- Columna izquierda -->
            <div class="col-md-5 text-center">
              <!-- Foto del solicitante -->
              <div class="mb-3">
                <img [src]="apiFile+detalle.solicitante.usuario.foto" alt="Foto del solicitante"
                  class="rounded-circle shadow-sm" style="width: 120px; height: 120px; object-fit: cover;">
              </div>
              <h5 class="text-primary mb-1">
                {{detalle.solicitante.usuario.nombre}} {{detalle.solicitante.usuario.apellido}}
              </h5>
              <p class="text-muted"><i class="bi bi-envelope-fill me-2"></i>{{detalle.solicitante.usuario.email || 'No Definido'}}</p>
              <p class="text-muted"><i class="bi bi-telephone-fill me-2"></i>{{detalle.solicitante.usuario.telefono || 'No Definido'}}</p>
              <p class="text-muted"><i class="bi bi-phone-fill me-2"></i>{{detalle.solicitante.usuario.celular || 'No Definido'}}</p>
            </div>

            <!-- Información del Alumno -->
            <div class="col-md-7">
              <div class="row g-3">

                <!-- Información del colegio -->
                <div class="col-12">
                  <div class="d-flex align-items-center mb-3">
                    <img
                      [src]="apiFile + detalle.solicitante.colegio.foto"
                      alt="Foto del colegio"
                      class="rounded-circle me-3"
                      style="width: 28px; height: 28px; object-fit: cover;">
                    <div>
                      <h6 class="mb-1 fw-bold">Colegio Solicitante</h6>
                      <p class="text-muted mb-0" (click)="verColegio(detalle.solicitante.colegio.id)" *Roles="[0]"><strong>Nombre:</strong> {{detalle.solicitante.colegio.nombre}}</p>
                      <p class="text-muted mb-0" *Roles="[1,2,3]"><strong>Nombre:</strong> {{detalle.solicitante.colegio.nombre}}</p>
                      <p class="text-muted mb-0"><strong>Zona:</strong> {{detalle.solicitante.colegio.provincia}}, {{detalle.solicitante.colegio.localidad}}</p>
                      <p class="text-muted mb-0"><strong>Dirección:</strong> {{detalle.solicitante.colegio.direccion_calle}}, {{detalle.solicitante.colegio.direccion_numero}}</p>
                      <p class="text-muted mb-0"><strong>CUIT:</strong> {{detalle.solicitante.colegio.cuit | formatDniCuit:'cuit'}}</p>
                      <p class="text-muted mb-0"><strong>Email:</strong> {{detalle.solicitante.colegio.email}}</p>
                      <p class="text-muted mb-0"><strong>Teléfono:</strong> {{detalle.solicitante.colegio.telefono}}</p>
                    </div>
                  </div>
                </div>

                <!-- Información básica -->
                <div class="col-12">
                  <div class="d-flex align-items-center mb-3">
                    <i class="bi bi-person-circle text-info me-3 fs-4"></i>
                    <div>
                      <h6 class="mb-1 fw-bold">Información del Alumno</h6>
                      <p class="text-muted mb-0">
                        <strong>Nombre:</strong> {{detalle.alumno.nombre}}, {{detalle.alumno.apellido}}
                      </p>
                      <p class="text-muted mb-0">
                        <strong>DNI:</strong> {{detalle.alumno.dni | formatDniCuit:'dni'}}
                      </p>
                      <p class="text-muted mb-0">
                        <strong>Fecha de Nacimiento:</strong> {{detalle.alumno.nacimiento | date:'dd-MM-yyyy'}}
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Detalle de la solicitud -->
                <div class="col-12">
                  <div class="d-flex align-items-center mb-3">
                    <i class="bi bi-calendar-event text-warning me-3 fs-4"></i>
                    <div>
                      <h6 class="mb-1 fw-bold">Detalle de la Solicitud</h6>
                      <p class="text-muted mb-0"><strong>Fecha:</strong> {{detalle.fecha | date:'dd-MM-yyyy'}}</p>
                      <p class="text-muted mb-0"><strong>Detalle adicional:</strong> {{detalle.detalle || 'Sin detalle'}}</p>
                    </div>
                  </div>
                </div>

                                <!--Colegio Solicitado SOLO ADMIN-->
                                <ng-container *Roles="[0]">
                                  <!-- Información del colegio -->
                                  <div class="col-12">
                                    <div class="d-flex align-items-center mb-3">
                                      <img [src]="apiFile + detalle.solicitado.colegio.foto" alt="Foto del colegio" class="rounded-circle me-3"
                                        style="width: 28px; height: 28px; object-fit: cover;">
                                      <div>
                                        <h6 class="mb-1 fw-bold">Colegio Solicitado</h6>
                                        <p class="text-muted mb-0" (click)="verColegio(detalle.solicitado.colegio.id)"><strong>Nombre:</strong> {{detalle.solicitado.colegio.nombre}}</p>
                                        <p class="text-muted mb-0"><strong>Zona:</strong> {{detalle.solicitado.colegio.provincia}},
                                          {{detalle.solicitado.colegio.localidad}}</p>
                                        <p class="text-muted mb-0"><strong>Dirección:</strong> {{detalle.solicitado.colegio.direccion_calle}},
                                          {{detalle.solicitado.colegio.direccion_numero}}</p>
                                        <p class="text-muted mb-0"><strong>CUIT:</strong> {{detalle.solicitado.colegio.cuit | formatDniCuit:'cuit'}}</p>
                                        <p class="text-muted mb-0"><strong>Email:</strong> {{detalle.solicitado.colegio.email}}</p>
                                        <p class="text-muted mb-0"><strong>Teléfono:</strong> {{detalle.solicitado.colegio.telefono}}</p>
                                      </div>
                                    </div>
                                  </div>
                                </ng-container>

                <!-- Estados -->
                <div class="col-12">
                                    <div class="d-flex flex-wrap align-items-center">
                                      <p class="text-muted mb-0 me-3">
                                        <strong>Estado:</strong>
                                        <span
                                          class="badge text-uppercase"
                                          [ngClass]="{
                                            'bg-primary': detalle.estado.id === 0,
                                            'bg-secondary': detalle.estado.id === 1,
                                            'bg-success': detalle.estado.id === 5,
                                            'bg-danger': detalle.estado.id === 2,
                                            'bg-warning': detalle.estado.id === 3,
                                            'bg-dark': detalle.estado.id === 4
                                          }"
                                        >{{detalle.estado.nombre}}</span>
                                      </p>
                                      <p class="text-muted mb-0">
                                        <strong>Resolución:</strong>
                                        <span
                                        class="badge text-white ms-2"
                                        [ngClass]="{
                                          'bg-info': detalle.resolucion.id === 0,
                                          'bg-success': detalle.resolucion.id === 1,
                                          'bg-danger': detalle.resolucion.id === 2,
                                          'bg-warning': detalle.resolucion.id === 3
                                        }">
                                        {{ detalle.resolucion.nombre }}
                                      </span>
                                      </p>
                                    </div>
                </div>

              </div>
            </div>
          </div>

          <!-- RESOLVER -->
          <div class="row g-4 justify-content-center" *ngIf="detalle.estado.id == 0">
            <div class="col-auto">
              <ng-container *ngIf="!this.resolucion">
                <button class="btn btn-info btn-sm me-2" type="button"  *Roles="[1,2]" (click)="resolver()">
                  <i class="bi bi-plus-circle me-2"></i>Resolver
                </button>
              </ng-container>

              <button class="btn btn-quaternary btn-sm" type="button" *ngIf="this.resolucion" (click)="resolver()">
                <i class="bi bi-plus-circle me-2"></i>Cancelar
              </button>
            </div>
            <app-resolver-solicitud *ngIf="this.resolucion" [idSolicitud]="idSolicitud" [idRed]="idRed" (resuelto)="resolver()"></app-resolver-solicitud>
          </div>

          <!-- DAR DE BAJA -->
          <div class="row g-4 justify-content-center" *ngIf="detalle.estado.id == 5">
            <div class="col-auto">
              <ng-container *ngIf="!this.resolucion">
                <button class="btn btn-danger btn-sm me-2" type="button"  *Roles="[1,2]" (click)="resolver()">
                  <i class="bi bi-plus-circle me-2"></i>Dar de Baja
                </button>
              </ng-container>

              <button class="btn btn-quaternary btn-sm" type="button" *ngIf="this.resolucion" (click)="resolver()">
                <i class="bi bi-plus-circle me-2"></i>Cancelar
              </button>
            </div>
            <app-dar-baja-solicitud *ngIf="this.resolucion" [idSolicitud]="idSolicitud" [idRed]="idRed"></app-dar-baja-solicitud>
          </div>

          <!-- RESOLUCION -->
          <div class="row g-4 justify-content-center pt-2" *ngIf="detalle.resolucion.conResolucion">
            <hr>
            <div class="col-12">
              <div class="row align-items-start">
                <!-- Columna para la foto -->
                <div class="col-md-5 text-center">
                  <img [src]="apiFile+detalle.resolucion.detalle.usuario.foto"
                    alt="Foto del Usuario"
                    class="rounded-circle shadow-sm"
                    style="width: 64px; height: 64px; object-fit: cover;">
                    <h5 class="text-primary mb-1">
                      {{detalle.resolucion.detalle.usuario.nombre}} {{detalle.resolucion.detalle.usuario.apellido}}
                    </h5>
                    <p class="text-muted"><i class="bi bi-envelope-fill me-2"></i>{{detalle.resolucion.detalle.usuario.email || 'No Definido'}}</p>
                </div>
                <!-- Columna para los detalles -->
                <div class="col-md-7">
                  <h6 class="mb-1 fw-bold">Información del estado</h6>
                  <p class="text-muted mb-0">
                    <strong>Fecha:</strong> {{detalle.resolucion.detalle.fecha | date:'dd-MM-yyyy'}}
                  </p>
                  <p class="text-muted mb-0">
                    <strong>Comentario:</strong> {{detalle.resolucion.detalle.comentario || 'Sin comentario'}}
                  </p>
                </div>
              </div>
            </div>
          </div>

           <!-- DADO DE BAJA -->
           <div class="row g-4 justify-content-center pt-2" *ngIf="detalle.baja">
            <hr>
            <div class="col-12">
              <div class="row align-items-start">
                <!-- Columna para la foto -->
                <div class="col-md-5 text-center">
                  <img [src]="apiFile+detalle.detalle_baja?.usuario?.foto"
                    alt="Foto del Usuario"
                    class="rounded-circle shadow-sm"
                    style="width: 64px; height: 64px; object-fit: cover;">
                    <h5 class="text-primary mb-1">
                      {{detalle.detalle_baja?.usuario?.nombre}} {{detalle.detalle_baja?.usuario?.apellido}}
                    </h5>
                    <p class="text-muted"><i class="bi bi-envelope-fill me-2"></i>{{detalle.detalle_baja?.usuario?.email || 'No Definido'}}</p>
                </div>
                <!-- Columna para los detalles -->
                <div class="col-md-7">
                  <h6 class="mb-1 fw-bold">Información de la Baja</h6>
                  <p class="text-muted mb-0">
                    <strong>Fecha:</strong> {{detalle.detalle_baja?.fecha | date:'dd-MM-yyyy'}}
                  </p>
                  <p class="text-muted mb-0">
                    <strong>Comentario:</strong> {{detalle.detalle_baja?.comentario || 'Sin comentario'}}
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>






