<div class="row">
  <!--Search input-->
  <div class="text-center">
    <div class="input-group input-group-sm mb-3">
      <!-- Alta -->
      <button class="btn btn-info btn-sm me-2" type="button" *Roles="[1,2]" (click)="alta()"><i class="bi bi-plus-circle me-2"></i>Publicar</button>
      <!-- Alta -->
      <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon1" [(ngModel)]="busqueda" (ngModelChange)="updateFilter()">
      <span class="input-group-text" id="basic-addon1"><i class="bi bi-search text-primary"></i></span>
    </div>

  </div>

  <!-- Responsive Horizontal Start -->
  <div class="col-12 mb-5">
    <ng-container *ngIf="listado$ | async as becas; else sinDatos">
      <ng-container *ngIf="(becas | filterBy: filter).length>0;else sinDatos">
        <section class="scroll-section" id="responsiveHorizontal">

          <div class="scroll-out">
            <div class="scroll-by-count" data-count="10">
              <div class="card mb-2" *ngFor="let beca of becas || [] | filterBy: filter"
              [ngStyle]="{
                'background-color': beca.colegio.borrado ? '#FFF3F3' :
                (idColegio == beca.colegio.id ? '#FFFCF3' : '')
              }">
                <div class="row g-0 sh-10" >
                  <div class="col-auto h-100">
                    <span class="badge rounded-pill bg-warning me-1 position-absolute s-n2 t-0" *ngIf="idColegio ==  beca.colegio.id">publicada</span>
                    <span class="badge rounded-pill bg-danger me-1 position-absolute s-n2 t-0" *ngIf="beca.colegio.borrado">COLEGIO BORRADO</span>
                    <img [src]="apiFile+beca.colegio.foto" alt="alternate text" class="card-img card-img-horizontal sw-11" />
                  </div>
                  <div class="col">
                    <div class="card-body pt-2 pb-0 h-100">
                      <div class="row g-0 h-100 align-content-center">
                        <!-- Colegio y usuario -->
                        <a
                          href="#"
                          class="col-12 col-sm-4 col-lg-4 d-flex flex-column mb-lg-0 pe-lg-3"
                        >
                          <div class="lh-1">{{beca.colegio.nombre}}</div>
                          <div class="text-small text-muted text-truncate">
                            {{beca.usuario.apellido}}, {{beca.usuario.nombre}}
                          </div>
                        </a>

                        <!-- Fecha y hora -->
                        <div
                          class="col-12 col-sm-3 col-lg-3 d-flex flex-column mb-lg-0 align-items-lg-end pe-lg-3"
                        >
                          <div class="lh-1 text-alternate small-text">
                            {{beca.fecha_hora |  date: "dd/MM HH:mm 'hs'" }}
                          </div>
                          <div class="text-muted text-small">Actualizado</div>
                        </div>

                        <!-- Cantidad -->
                        <div
                          class="col-5 col-sm-2 col-lg-2 d-flex flex-column mb-lg-0 align-items-lg-end pe-lg-3"
                        >
                          <div class="lh-1 text-alternate small-text">{{beca.disponible}}</div>
                          <div class="text-muted text-small">Disponible</div>
                        </div>

                        <!-- Disponible -->
                        <div
                          class="col-5 col-sm-2 col-lg-2 d-flex flex-column mb-lg-0 align-items-lg-end"
                        >
                          <div class="text-muted text-small">
                            <span class="badge bg-outline-tertiary text-uppercase" *ngIf="beca.disponible>0">Disponible</span>
                            <span class="badge bg-outline-danger text-uppercase" *ngIf="beca.disponible<=0">No Disponible</span>
                          </div>
                        </div>

                        <!-- Botón Solicitar (condicional) -->
                        <div
                          class="col-2 col-sm-1 col-lg-1 d-flex flex-column align-items-lg-end"
                          *ngIf="idColegio != beca.colegio.id"
                        >
                        <ng-container *Roles="[1,2,3]">
                          <button *ngIf=" derechoDisponible"
                            class="btn btn-icon btn-icon-only btn-primary mb-1"
                            type="button"
                            (click)="solicitar(beca)"
                            [disabled]="beca.disponible<=0 || derechoDisponible<=0"
                          >
                            <i class="bi bi-send-check-fill"></i>
                          </button>
                        </ng-container>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </ng-container>
    </ng-container>
  </div>
  <!-- Responsive Horizontal End -->

</div>

<ng-template #sinDatos>
  <app-sin-datos mensaje=""></app-sin-datos>
</ng-template>
