<div class="row">
  <!--Search input-->
  <div class="text-center">
    <div class="input-group input-group-sm mb-3">
      <!-- Alta -->
      <button class="btn btn-info btn-sm me-2" type="button" *Roles="[0]"><i class="bi bi-plus-circle me-2"></i>Publicar</button>
      <!-- Alta -->
      <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon1">
      <span class="input-group-text" id="basic-addon1"><i class="bi bi-search text-primary"></i></span>
    </div>

  </div>

  <!-- Responsive Horizontal Start -->
  <div class="col-12 mb-5">
    <section class="scroll-section" id="responsiveHorizontal">

      <div class="scroll-out">
        <div class="scroll-by-count" data-count="10">
          <div class="card mb-2">
            <div class="row g-0 sh-19 sh-lg-9">
              <div class="col-auto position-relative">
                <span class="badge rounded-pill bg-primary me-1 position-absolute s-n2 t-2">SALE</span>
                <img src="http://localhost:3002/uploads/colegio/default.png" alt="alternate text" class="card-img card-img-horizontal sw-11" />
              </div>
              <div class="col">
                <div class="card-body pt-0 pb-0 h-100">
                  <div class="row g-0 h-100 align-content-center">
                    <a href="#" class="col-12 col-lg-3 d-flex flex-column mb-lg-0 mb-3 mb-lg-0 pe-3 d-flex">
                      <div class="lh-1">Colegio Leloir</div>
                      <div class="text-small text-muted text-truncate">Responsable Leloir</div>
                    </a>
                    <div class="col-8 col-sm-6 col-lg-3 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">29/11/2024</div>
                      <div class="text-muted text-small">fecha</div>
                    </div>
                    <div class="col-4 col-sm-6 col-lg-3 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">
                        <span class="badge bg-outline-tertiary text-uppercase">Disponible</span>
                      </div>
                      <div class="text-muted text-small">Estado</div>
                    </div>
                    <div class="col-4 col-sm-6 col-lg-3 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <button class="btn btn-icon btn-icon-only btn-primary mb-1" type="button">
                        <i class="bi bi-send-check-fill"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-2">
            <div class="row g-0 sh-19 sh-lg-9">
              <div class="col-auto">
                <img src="img/product/small/product-3.webp" alt="alternate text" class="card-img card-img-horizontal sw-11" />
              </div>
              <div class="col">
                <div class="card-body pt-0 pb-0 h-100">
                  <div class="row g-0 h-100 align-content-center">
                    <a href="#" class="col-12 col-lg-3 d-flex flex-column mb-lg-0 mb-3 mb-lg-0 pe-3 d-flex">
                      <div class="lh-1">Cheesymite Scroll</div>
                      <div class="text-small text-muted text-truncate">Icing liquorice olegário jujubes oat cake.</div>
                    </a>
                    <div class="col-8 col-sm-6 col-lg-3 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">Whole Wheat</div>
                      <div class="text-muted text-small">Category</div>
                    </div>
                    <div class="col-4 col-sm-6 col-lg-2 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">
                        <span>
                          <span class="text-small">$</span>
                          1.50
                        </span>
                      </div>
                      <div class="text-muted text-small">Price</div>
                    </div>
                    <div class="col-8 col-sm-6 col-lg-2 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">1.152</div>
                      <div class="text-muted text-small">Sales</div>
                    </div>
                    <div class="col-4 col-sm-6 col-lg-2 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">3.793</div>
                      <div class="text-muted text-small">Stock</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-2">
            <div class="row g-0 sh-19 sh-lg-9">
              <div class="col-auto position-relative">
                <span class="badge rounded-pill bg-primary me-1 position-absolute s-n2 t-2">TREND</span>
                <img src="img/product/small/product-3.webp" alt="alternate text" class="card-img card-img-horizontal sw-11" />
              </div>
              <div class="col">
                <div class="card-body pt-0 pb-0 h-100">
                  <div class="row g-0 h-100 align-content-center">
                    <a href="#" class="col-12 col-lg-3 d-flex flex-column mb-lg-0 mb-3 mb-lg-0 pe-3 d-flex">
                      <div class="lh-1">Cholermüs</div>
                      <div class="text-small text-muted text-truncate">Icing liquorice olegário jujubes oat cake.</div>
                    </a>
                    <div class="col-8 col-sm-6 col-lg-3 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">Whole Wheat</div>
                      <div class="text-muted text-small">Category</div>
                    </div>
                    <div class="col-4 col-sm-6 col-lg-2 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">
                        <span>
                          <span class="text-small">$</span>
                          3.20
                        </span>
                      </div>
                      <div class="text-muted text-small">Price</div>
                    </div>
                    <div class="col-8 col-sm-6 col-lg-2 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">1.398</div>
                      <div class="text-muted text-small">Sales</div>
                    </div>
                    <div class="col-4 col-sm-6 col-lg-2 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">4.251</div>
                      <div class="text-muted text-small">Stock</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-2">
            <div class="row g-0 sh-19 sh-lg-9">
              <div class="col-auto">
                <img src="img/product/small/product-3.webp" alt="alternate text" class="card-img card-img-horizontal sw-11" />
              </div>
              <div class="col">
                <div class="card-body pt-0 pb-0 h-100">
                  <div class="row g-0 h-100 align-content-center">
                    <a href="#" class="col-12 col-lg-3 d-flex flex-column mb-lg-0 mb-3 mb-lg-0 pe-3 d-flex">
                      <div class="lh-1">Ruisreikäleipä</div>
                      <div class="text-small text-muted text-truncate">Icing liquorice olegário jujubes oat cake.</div>
                    </a>
                    <div class="col-8 col-sm-6 col-lg-3 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">Whole Wheat</div>
                      <div class="text-muted text-small">Category</div>
                    </div>
                    <div class="col-4 col-sm-6 col-lg-2 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">
                        <span>
                          <span class="text-small">$</span>
                          4.75
                        </span>
                      </div>
                      <div class="text-muted text-small">Price</div>
                    </div>
                    <div class="col-8 col-sm-6 col-lg-2 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">1.631</div>
                      <div class="text-muted text-small">Sales</div>
                    </div>
                    <div class="col-4 col-sm-6 col-lg-2 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">6.401</div>
                      <div class="text-muted text-small">Stock</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-2">
            <div class="row g-0 sh-19 sh-lg-9">
              <div class="col-auto">
                <img src="img/product/small/product-3.webp" alt="alternate text" class="card-img card-img-horizontal sw-11" />
              </div>
              <div class="col">
                <div class="card-body pt-0 pb-0 h-100">
                  <div class="row g-0 h-100 align-content-center">
                    <a href="#" class="col-12 col-lg-3 d-flex flex-column mb-lg-0 mb-3 mb-lg-0 pe-3 d-flex">
                      <div class="lh-1">Buccellato di Lucca</div>
                      <div class="text-small text-muted text-truncate">Icing liquorice olegário jujubes oat cake.</div>
                    </a>
                    <div class="col-8 col-sm-6 col-lg-3 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">Whole Wheat</div>
                      <div class="text-muted text-small">Category</div>
                    </div>
                    <div class="col-4 col-sm-6 col-lg-2 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">
                        <span>
                          <span class="text-small">$</span>
                          4.75
                        </span>
                      </div>
                      <div class="text-muted text-small">Price</div>
                    </div>
                    <div class="col-8 col-sm-6 col-lg-2 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">1.092</div>
                      <div class="text-muted text-small">Sales</div>
                    </div>
                    <div class="col-4 col-sm-6 col-lg-2 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-lg-end">
                      <div class="lh-1 text-alternate">5.119</div>
                      <div class="text-muted text-small">Stock</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Responsive Horizontal End -->

</div>
