<div class="row">
  <!--Search input-->
  <div class="text-center">
    <div class="input-group input-group-sm mb-3">
      <!-- Alta -->
      <button class="btn btn-info btn-sm me-2" type="button" *Roles="[1,2]" (click)="alta()"><i class="bi bi-plus-circle me-2"></i>Publicar</button>
      <!-- Alta -->
      <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon1" [(ngModel)]="busqueda" (ngModelChange)="updateFilter()">
      <span class="input-group-text" id="basic-addon1"><i class="bi bi-search text-primary"></i></span>
    </div>

  </div>

  <!-- Responsive Horizontal Start -->

  <ng-container *ngIf="listado$ | async as becas; else sinDatos">
    <ng-container *ngIf="(becas | filterBy: filter).length>0;else sinDatos">
      <div class="card h-100 shadow-sm border-0 rounded-3 d-flex flex-column">
        <div class="container my-4 ps-4 pe-4">
          <div class="row g-3">
            <div class="col-12 col-sm-6 col-lg-3" *ngFor="let beca of becas | filterBy: filter">

              <div class="card h-100 shadow-sm border-0 rounded-3"
                [ngStyle]="{
                  'background-color': beca.colegio.borrado ? '#FFF3F3' : (idColegio == beca.colegio.id ? '#FFFCF3' : 'white')
                }">

                <!-- Imagen -->
                <div class="position-relative">
                  <img [src]="apiFile + beca.colegio.foto" class="card-img-top rounded-top-3" alt="Colegio"
                    style="height: 100px; object-fit: cover;">

                  <!-- Publicada o Borrado -->
                  <span class="badge bg-danger position-absolute top-0 end-0 m-2" *ngIf="beca.colegio.borrado">Borrado</span>

                  <!-- Disponible / No disponible (nuevo) -->
                  <span *ngIf="beca.disponible > 0" class="badge bg-success position-absolute top-0 start-0 m-2 text-uppercase">Disponible</span>
                  <span *ngIf="beca.disponible <= 0" class="badge bg-danger position-absolute top-0 start-0 m-2 text-uppercase">Agotada</span>
                </div>

                <!-- Cuerpo -->
                <div class="card-body d-flex flex-column p-2">
                  <h6 class="card-title text-primary mb-1" style="font-size: 1rem; cursor: pointer;" (click)="verColegio(beca.colegio.id)" >{{ beca.colegio.nombre }}</h6>
                  <p class="card-subtitle mb-2 text-muted small text-truncate"><i class="bi bi-person-vcard-fill me-1"></i> {{beca.usuario.apellido }}, {{ beca.usuario.nombre }}</p>

                  <div class="mb-2 small">
                    <div><strong>{{ beca.disponible}} becas disponibles</strong> · <p class="text-muted"><i class="bi bi-clock me-2"></i>{{ beca.fecha_hora | date: "dd/MM HH:mm 'hs'" }}</p></div>
                  </div>

                  <div class="mt-auto" *ngIf="idColegio != beca.colegio.id; else suPublicacion">
                    <ng-container *Roles="[1,2,3]">
                      <ng-container *ngIf="derechoDisponible && derechoDisponible>0;else noDisponible">
                        <ng-container *ngIf="beca.disponible > 0; else noSolicitudes">
                          <button
                            class="btn btn-primary btn-sm w-100"
                            type="button"
                            (click)="solicitar(beca)"
                            [disabled]="beca.disponible <= 0 || derechoDisponible <= 0">
                            Solicitar
                          </button>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </div>

                  <ng-template #noDisponible>
                    <div class="btn btn-danger btn-sm w-100 no-hover">
                      <i class="bi bi-exclamation-circle me-1"></i> Sin solicitudes
                    </div>
                  </ng-template>

                  <!-- Mensaje: Sin vacantes -->
                  <ng-template #noSolicitudes>
                    <div class="btn btn-warning btn-sm w-100 no-hover">
                      <i class="bi bi-x-circle me-1"></i> Sin vacantes
                    </div>
                  </ng-template>

                  <!-- Mensaje: Beca propia -->
                  <ng-template #suPublicacion>
                    <div class="btn btn-secondary btn-sm w-100 no-hover">
                      <i class="bi bi-lock-fill me-1"></i> Beca propia
                    </div>
                  </ng-template>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <!-- Responsive Horizontal End -->

</div>

<ng-template #sinDatos>
  <app-sin-datos mensaje=""></app-sin-datos>
</ng-template>
