<div class="row">
  <!--Search input-->
  <div class="text-center">
    <div class="input-group input-group-sm mb-3">
      <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon1" [(ngModel)]="busqueda" (ngModelChange)="updateFilter()">
      <span class="input-group-text" id="basic-addon1"><i class="bi bi-search text-primary"></i></span>
    </div>

  </div>

  <!-- Labels Start -->
  <div class="col-12 mb-5">
    <section class="scroll-section" id="labels">
      <!-- Menú desplegable -->
      <div class="d-flex justify-content-start align-items-center mb-2">
        <div class="d-flex align-items-center">
          <button
            class="btn btn-icon btn-icon-only btn-sm btn-background-alternate shadow me-2 d-flex align-items-center justify-content-center"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            aria-haspopup="true"
            style="height: 36px; width: 36px;"
          >
            <i class="bi bi-three-dots-vertical"></i>
          </button>
          <h2 class="small-title" style="height: auto;">Mis Solicitudes: <span class="fw-bold">{{estados[active+1].nombre}}</span></h2>

          <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end shadow">
            <a
              *ngFor="let estado of estados; let i = index"
              class="dropdown-item"
              [ngClass]="{'active': i-1 == active}"
              (click)="filtrar(estado.id)"
            >
              {{ estado.nombre }}
            </a>
          </div>
        </div>
      </div>



      <!-- Datos -->
      <div class="scroll-out" *ngIf="listado$ | async as listado">
        <ng-container *ngIf="(listado | filterBy: filter).length>0;else sinDatos">
           <ngx-datatable
            class="bootstrap"
            [rows]="listado | filterBy: filter"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10"
            (activate)="verSolicitud($event)">

          <!-- Estado -->
          <ngx-datatable-column name="Estado" [flexGrow]="1" prop="estado.nombre" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span
                class="badge text-uppercase"
                [ngClass]="{
                  'bg-outline-primary': row.estado.id === 0,
                  'bg-outline-secondary': row.estado.id === 1,
                  'bg-outline-success': row.estado.id === 5,
                  'bg-outline-danger': row.estado.id === 2,
                  'bg-outline-warning': row.estado.id === 3,
                  'bg-outline-dark': row.estado.id === 4,
                  'bg-danger': row.estado.id === 6
                }">
                {{ row.estado.nombre }}
              </span>
            </ng-template>
          </ngx-datatable-column>

          <!-- Fecha -->
          <ngx-datatable-column name="Fecha" [flexGrow]="2" prop="fecha" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.fecha | date: 'dd/MM/yyyy HH:mm' }} hs
            </ng-template>
          </ngx-datatable-column>

          <!-- Usuario solicitante -->
          <ngx-datatable-column name="Responsable" *Roles="[1,2]" [flexGrow]="2" prop="solicitante.usuario" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.solicitante.usuario }}
            </ng-template>
          </ngx-datatable-column>

          <!-- Colegio solicitado -->
          <ngx-datatable-column name="Colegio Solicitante" [flexGrow]="2" prop="solicitud.colegio" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.solicitud.colegio }}
            </ng-template>
          </ngx-datatable-column>


          <!-- Alumno -->
          <ngx-datatable-column name="Alumno" [flexGrow]="2" prop="solicitud.alumno" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.solicitud.alumno }}
            </ng-template>
          </ngx-datatable-column>


          </ngx-datatable>
        </ng-container>
      </div>
    </section>
  </div>

</div>

<ng-template #sinDatos>
  <app-sin-datos mensaje=""></app-sin-datos>
</ng-template>
