 <!--Search input-->

 <div class="text-center">
  <div class="input-group input-group-sm mb-3">
    <!-- Alta -->
    <button class="btn btn-info btn-sm me-2" type="button" (click)="alta()"><i class="bi bi-plus-circle me-2"></i>Alta</button>
    <!-- Alta -->
    <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon1">
    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search text-primary"></i></span>
  </div>
</div>

<ng-container *ngIf="(administradores$|async) as administradores">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 g-2" *ngIf="administradores.length > 0; else sinDatos">
    <div class="col" *ngFor="let administrador of administradores">
      <div class="card">
        <div class="card-body">
          <div class="row g-0 sh-6">
            <div class="col-auto">
              <div class="card-img rounded-xl sh-6 sw-6 bg-primary text-white d-flex align-items-center justify-content-center">
                CD</div>
            </div>
            <div class="col">
              <div class="card-body d-flex flex-row pt-0 pb-0 ps-3 pe-0 h-100 align-items-center justify-content-between">
                <div class="d-flex flex-column">
                  <div>{{administrador.apellido}},{{administrador.nombre}}</div>
                  <span class="badge rounded-pill me-1 position-absolute s-2 t-n2 z-index-1"  [ngClass]="administrador.suspendido==1?'bg-danger':'bg-success'">
                    {{administrador.suspendido==1?'suspendido':'Activo'}}
                  </span>
                </div>
                <div class="d-flex">
                  <button type="button" class="btn btn-outline-primary btn-icon btn-icon-only btn-sm ms-1" (click)="reiniciarPassword(administrador.id)"><i class="bi bi-key-fill"></i></button>
                  <button type="button" class="btn btn-outline-primary btn-icon btn-icon-only btn-sm ms-1" (click)="suspender(administrador.id)">
                    <i [ngClass]="administrador.suspendido == 1 ? 'bi bi-unlock-fill' : 'bi bi-lock-fill'"></i>
                  </button>
                  <div class="btn-group">
                    <div class="dropdown">
                      <button class="btn btn-sm btn-icon btn-icon-only btn-outline-primary ms-1 mb-1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-three-dots-vertical"></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" (click)="verAdmin(administrador.id)">Ver</a>
                        <a class="dropdown-item" href="#">Editar</a>
                        <a class="dropdown-item" (click)="confirmarEliminar(administrador)">Eliminar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<ng-template #sinDatos>
  <app-sin-datos></app-sin-datos>
</ng-template>
