 <!--Search input-->

 <div class="text-center">
  <div class="input-group input-group-sm mb-3">
    <!-- Alta -->
    <button class="btn btn-info btn-sm me-2" type="button" (click)="alta()"><i class="bi bi-plus-circle me-2"></i>Alta</button>
    <!-- Alta -->
    <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon1" [(ngModel)]="busqueda" (ngModelChange)="updateFilter()">
    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search text-primary"></i></span>
  </div>
</div>

<ng-container *ngIf="(administradores$ | async) as administradores">
  <div class="table-responsive" *ngIf="(administradores | filterBy: filter).length > 0; else sinDatos">
    <table class="table table-hover table-bordered table-striped align-middle text-center">
      <thead class="table-primary">
        <tr>
          <th>Foto</th>
          <th>DNI</th>
          <th>Apellido y Nombre</th>
          <th>Estado</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let administrador of administradores || [] | filterBy: filter">
          <td class="text-center">
            <img [src]="apiFile + administrador.foto" alt="Foto" style="height: 40px; width: 40px;" class="rounded-circle" />
          </td>
          <td>{{ administrador.dni }}</td>
          <td>{{ administrador.apellido }}, {{ administrador.nombre }}</td>
          <td>
            <span class="badge rounded-pill" [ngClass]="administrador.suspendido == 1 ? 'bg-danger' : 'bg-success'">
              {{ administrador.suspendido == 1 ? 'Suspendido' : 'Activo' }}
            </span>
          </td>
          <td class="text-center">
            <button type="button"
              class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
              ngbTooltip="Reiniciar Contraseña"
              container="body"
              placement="bottom"
              (click)="reiniciarPassword(administrador.id)">
              <i class="bi bi-key-fill"></i>
            </button>

            <button type="button"
              class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
              ngbTooltip="Suspender Ingreso"
              container="body"
              placement="bottom"
              (click)="suspender(administrador.id)">
              <i [ngClass]="administrador.suspendido == 1 ? 'bi bi-unlock-fill' : 'bi bi-lock-fill'"></i>
            </button>

            <div ngbDropdown container="body" class="btn-group">
              <button
                class="btn btn-outline-primary btn-icon btn-icon-only btn-sm me-1"
                ngbDropdownToggle>
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <div
                ngbDropdownMenu
                aria-labelledby="dropdownMenu"
                class="dropdown-menu-end">
                <button class="dropdown-item" (click)="verAdmin(administrador.id)">Ver</button>
                <button class="dropdown-item" (click)="editar(administrador)">Editar</button>
                <button class="dropdown-item" (click)="confirmarEliminar(administrador)">Eliminar</button>
              </div>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>



<ng-template #sinDatos>
  <app-sin-datos></app-sin-datos>
</ng-template>
